.ofutari-footer {
  display: flex;
  flex-direction: column;
  background-color:#83E85A;
}

.ofutari-footer-text-wrap {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}