* {
  box-sizing: border-box;
}

a {
  color: #333333; 
}

.ofutari-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:#83E85A;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 5px;
}

.ofutari-icon {
  width: 205px;
}

.navbar {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.user-nickname {
  text-decoration: none;
  color: #333333;
}

.logout {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

li{
  list-style: none;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

li:hover {
  border-color: #9bdbf2;
  color: #9bdbf2;
}