.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #767676;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap>p {
  line-height: 60px;
  font-size: 12px;
  padding: 0 5px;
  color: 212529;
}