a {
  color: #333333; 
}

.post-content {
  text-decoration: none;
}

.post-info {
  background-color: pink;
}

.toppage-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#83E85A;
  height: 50px;
}

.toppage-footer-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toppage-footer-text {
  text-align: center;
}