a {
  color: #333333; 
}

.post-content {
  text-decoration: none;
}

.post-info {
  background-color: pink;
}

.post-btn {
  display: flex;
  justify-items: center;
  align-items: center;
}

.post-btn-text {
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}